trunk/eai-scatterGather-camel/src/test/resources/org/devtoolbox/wheel/service/wheelService.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://org.devtoolbox.wheel.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WheelServiceImplService" targetNamespace="http://org.devtoolbox.wheel.service">
    <wsdl:types>
        <xs:schema xmlns:tns="http://org.devtoolbox.wheel.service"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://org.devtoolbox.wheel.service" version="1.0">
            <xs:element name="wheelRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="wheelResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="quantity" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retrieveWheelRequestMessage">
        <wsdl:part element="tns:wheelRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="retrieveWheelResponseMessage">
        <wsdl:part element="tns:wheelResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="wheelService">
        <wsdl:operation name="retrieveWheel">
            <wsdl:input message="tns:retrieveWheelRequestMessage" name="retrieveWheelRequestMessage"/>
            <wsdl:output message="tns:retrieveWheelResponseMessage"
                name="retrieveWheelResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WheelServiceImplServiceSoapBinding" type="tns:wheelService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveWheel">
            <soap:operation soapAction="retrieveWheelAction" style="document"/>
            <wsdl:input name="retrieveWheelRequestMessage">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retrieveWheelResponseMessage">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WheelServiceImplService">
        <wsdl:port binding="tns:WheelServiceImplServiceSoapBinding" name="wheelServicePort">
            <soap:address location="http://localhost:8080/wheelService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
